# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle lwb-ui'
      'command': 'lwb-ui:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'lwb-ui'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'lwb-ui:toggle'
        },
        {
        'label': 'Prop'
        'command': 'lwb-ui:prop'
        },
        {
        'label': 'Pred'
        'command': 'lwb-ui:pred'
        },
        {
        'label': 'Ltl'
        'command': 'lwb-ui:ltl'
        }
      ]
    ]
  }
]
