/resources/public/js/compiled/**
pom.xml
*jar
/classes/
/out/
target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.idea
.cache*
*.log
*.class
*.*~
\#*
.\#*

*.DS_Store
node_modules/

!lwb.jar
.shadow-cljs/
